---
layout: default
pagination:
  data: collections.posts
  size: 10
  reverse: true
  alias: posts
---

<div class="space-y-4 px-4">
  {% for post in posts %}
    <article class="prose mx-auto border-b pb-4 border-green-700">
      <header class="text-sm text-green-700 py-4 flex justify-between font-serif">
        <span>About
          {{ post | readingTime }}
          reading time</span>
        <span class="">{{post.date | format }}</span>
      </header>
      <h1>
        <a href="{{ post.url | url }}" class="no-underline">{{ post.data.title }}</a>
      </h1>
    </article>
  {% endfor %}
</div>
