<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--  Essential META Tags -->
    <meta property="og:title" content="European Travel Destinations">
    <meta property="og:type" content="article" />
    <meta property="og:image" content="http://euro-travel-example.com/thumbnail.jpg">
    <meta property="og:url" content="http://euro-travel-example.com/index.htm">
    <meta name="twitter:card" content="summary_large_image">

    <!--  Non-Essential, But Recommended -->
    <meta property="og:description" content="Offering tour packages for individuals or groups.">
    <meta property="og:site_name" content="European Travel, Inc.">
    <meta name="twitter:image:alt" content="Alt text for image">

    <!--  Non-Essential, But Required for Analytics -->    
    <meta name="twitter:site" content="@derKeiner">
    <title>{{title}}</title>
    {% if criticalCSS %}
      <!-- capture the CSS content as a Nunjucks variable -->
      {% set css %}
      {% include "styles/index.css" %}
      {% endset %}
      <!-- feed it through our cssmin filter to minify -->
      <style>
        {{css | postcss | safe}}
      </style>
    {% else %}
      <link rel="stylesheet" href="/theme.css"/>
    {% endif %}
    {% for style in styles %}
      <link rel="stylesheet" href="{{ style }}"/>
    {% endfor %}
    <script defer type="module" src="/app.js"></script>
    <script src="//unpkg.com/alpinejs" defer></script>
  </head>
  {{ content | safe }}
  {% for script in scripts %}
    <script src="{{script}}" type="module"></script>
  {% endfor %}
</html>
